* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "GothamMedium";
    src: url('../font/Gotham-Medium.otf');
}

@font-face{
    font-family: "BigJohn";
    src: url('../font/bigJohn.otf');
}



main{
    top: 0;
    left: 0;
}

.txt_Gotham {
    font-family: "GothamMedium";
}

.txt_John {
    font-family: "Bigjohn";
}


/* HEADER */

header {
    width: 100vw;
    height: 15vh;
    padding: 3vh 7vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .logo {
    width: 50px;
    height: 50px;
}

.nav {
    width: 20%;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: 'GothamMedium';
    overflow: hidden;
    height: 1em;
    position: relative;
    display: inline-block;
}

.nav ul li a span {
    position: relative;
	display: inline-block;
	transition: all .3s;
}

.nav ul li a span::before {
    position: absolute;
	top: 100%;
	content: attr(data-hover);
	transform: translate3d(0,0,0);
}

.nav ul li a:hover span, .nav ul li a:focus span {
    transform: translateY(-100%);
}

.logo img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.logo img:hover {
    transform: rotate(-180deg);
}

/* GALLERY */

.btns {
    margin-top: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 25px;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    margin: 0 1vw;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
    color: #fff
}

.gallery {
    width: 100vw;
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery_project {
    transition: all 0.33s cubic-bezier(0.56, 0, 0, 1);
    width: 500px;
    height: 350px;
    margin: 5px 5px;
    background-color: #e4e4e4;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_project:hover .infos_project {
    height: 100%;
    padding: 40% 5%;
    opacity: 0.7;
}

.gallery_project:hover img {
    transform: scale(0.9);
}

.gallery_project img {
    transform: scale(0.7);
    transition: all 0.5s cubic-bezier(0.56, 0, 0, 1);
}

.infos_project{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    left: 0;
    background-color: black;
    text-align: center;
    padding: 5%;
    transition: all 0.5s ease-in;
}


.infos_project h3, .infos_project p {
    color: #fff;
}

@media screen and (max-width:1024px) {
    .nav {
        width: 30%;
    }
    
    .gallery_project {
        width: 40vw;
        height: 280px;
    }

    .columns {
        flex-direction: column;
    }
    .container_img .columns .img_left,.container_img .columns .img_right {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .container .container_info h1 {
        font-size: 3rem;
    }
    .container .details h3 {
        font-size: 0.7rem;
    }
    .container .details p {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    
    header {
        padding: 3vh 4vw 3vh 7vw;
    }
    .nav {
        width: 40%;
    }
    .container .container_img {
        width: 80vw;
    }
    .container .container_info h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width:600px) {
    .gallery_project {
        width: 80vw;
        height: 280px;
    }
}

@media screen and (max-width: 425px) {
    header .logo {
        width: 30px;
        height: 30px;
    }
    .nav {
        width: 45%;
    }
    .nav ul li a, .nav ul li a span {
        font-size: 0.8rem;
    }
    .container .container_info h1 {
        font-size: 1.3rem;
    }
}

/* ONE PAGE PROJECT */
.container{
    width: 100vw;
    background: #e4e4e4;
}

.container_info {
    width: 100vw;
    display: flex;
}

.container h1 {
    margin: 0;
    padding: 3vh 3vw 1vh 1vw;
    color: #fff;
    background-color: #000;
    font-size: 4rem;
}

.details{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.details p {
    font-size: 0.7rem;
}
.details h3 {
    font-size: 1rem;
}

.container_img {
    width: 55vw;
    margin: 0 auto;
    padding: 2vh 2vw;
}
.container_img .full {
    width: 100%;
    height: auto;
    padding: 0 1vw;
    margin-bottom: 4vh;
}

.container_img .columns {
    display: flex;

}

.container_img .img_left, .container_img .img_right {
    width: 50%;
    padding: 3vh 1vw;
    margin-bottom: 15px;
}
.img_left img, .img_right img {
    width: 100%;
    margin-bottom: 4vh;
}

.link {
    text-align: center;
    margin-bottom: 10vh;
}

.link a{
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.33s ease-in;
}

.link a:hover {
    color: #fff;
    background-color: #000;
}
